<script>
var d = {
	"id":"bubbletest",
	"class":"chartbox",
	"charttype":"bubble",
	"width":"300px",
	"left":60,
	"height":"600px",
	"title":"振幅最大",
	"url":"absurl(request,'./bubbletest.dspy')",
	"dimension":"instrument_id", 
	"subdimension":"trade_date", 
	"x_field":"valume",
	"y_field":"p_change",
	"size_field":"turnover",
}
</script>