__widget_description__ = {
	__ctmpl__:"line",
	data:{
		id:'producttypeissueamount',
		widgettype:"echarts",
		class:"chartbox",
		charttype:"line",
		/*
		width:"300px",
		height:"240px",
		*/
		title:"产品类别占比",
		url:"{{absurl(request,'./protypeissueamount.dspy?groupname1=producttype')}}",
		seriename:"seriename", 
		dimension:"producttype", 
		"series":[
			{
				name:"发行额",
				type:"bar",
				"indicator":"issueamount",
			}
		],
		options:{
			grid:{
				x:'100px'
			}
		},
		contextmenu:[
			{
				type:"amplitude",
				identifier:"function(data){return true;}",
				submenu:
				[
					{
						label:"五大融资人",
						registerfunction:'prod_top5',
						url:"{{absurl(request,'./top5/prod_top5.tmpl?dimension=participalname')}}",
						name:"weekday"
					},{
						label:"五大行业",
						registerfunction:'prod_top5',
						url:"{{absurl(request,'./top5/prod_top5.tmpl?dimension=section')}}",
						name:"sdaily"
					},{
						label:"五大地区",
						registerfunction:'prod_top5',
						url:"{{absurl(request,'./top5/prod_top5.tmpl?dimension=area')}}",
						name:"sdaily"
					},{
						label:"五大期限",
						registerfunction:'prod_top5',
						url:"{{absurl(request,'./top5/prod_top5.tmpl?dimension=term')}}",
						name:"sdaily"
					}
				]
			}
		]
		
	}
}