	<div style="width:100%;height:100%;">
        <form method="post">
          <div style="display:inline-block">
			
				<label style="width:80px;display:inline-block;">房屋编号：</label>
                <input type="text" style="width:148px">
               
     	  </div>
          
          <div style="display:inline-block">
			
                 <label style="width:80px;display:inline-block;">省份：</label>
				<select  style="width:152px" ><option>请选择省份</option></select>
                <label style="width:80px;display:inline-block;">城市：</label>
                <select style="width:152px"><option>请选择城市</option></select>
     	  </div>
          
          <div style="display:inline-block">
                <label style="width:80px;display:inline-block;">所属小区：</label>
                <input type="text" style="width:148px">
                <label style="width:80px;display:inline-block;">所在位置：</label>
                <input type="text" style="width:148px">
     	  </div>
          
          <div style="display:inline-block">
          
                <label style="width:80px;display:inline-block;">经纬度：</label>
                <input type="text" style="width:148px">
     	  </div>
          
          <div style="display:inline-block">
                <label style="width:80px;display:inline-block;">建筑面积：</label>
                <input type="text" style="width:148px">
                <label style="width:80px;display:inline-block;">建造年代：</label>
                <input type="text" style="width:148px">
     	  </div>
          
          <div style="display:inline-block">
                <label style="width:80px;display:inline-block;">房屋户型：</label>
                <input type="text" style="width:148px">
                <label style="width:80px;display:inline-block;">房屋朝向：</label>
                <input type="text" style="width:148px">
     	  </div>
          
          <div style="display:inline-block">
                <label style="width:80px;display:inline-block;">房屋类型：</label>
                <input type="text" style="width:148px">
                <label style="width:80px;display:inline-block;">所在楼层：</label>
                <input type="text" style="width:148px">
     	  </div>
          
          <div style="display:inline-block">
                <label style="width:80px;display:inline-block;">装修程度：</label>
                <input type="text" style="width:148px">
                <label style="width:80px;display:inline-block;">房本年限：</label>
                <input type="text" style="width:148px">
     	  </div>
          
          <div style="display:inline-block">
                <label style="width:80px;display:inline-block;">配套供暖：</label>
                <select style="width:152px">
                <option>集体供暖</option>
                <option>自供暖</option>
                <option>无</option>
                </select>
                
                <label style="width:80px;display:inline-block;">唯一住房：</label>
                <select style="width:152px">
                <option>是</option>
                <option>否</option>
                </select>
     	  </div>
          
          <div style="display:inline-block">
                <label style="width:80px;display:inline-block;">车位：</label>
                <input type="text" style="width:148px">
                <label style="width:80px;display:inline-block;">交通：</label>
                <input type="text" style="width:148px">
     	  </div>
          
          <div style="display:inline-block">
                <label style="width:80px;display:inline-block;">房屋描述：</label>
                <textarea style="width:388px"></textarea>
     	  </div>
          <div style="display:inline-block">
                <label style="width:80px;display:inline-block;">房屋估值（万元）：</label>
                <input type="text" style="width:148px">
     	  </div>
          
          	

            	

        	

           
		</form>
	</div>

