<div class="estate_info lbox" onclick="showEstateInfo.call(this,'{[=it.f1]}')" >
<img src="{{absurl(request,'../imgs')}}/fang{[=Math.round(Math.random()*20)+1]}.jpg" width="100%" height="200px"/>
<div>
<span clsss="label">所在小区:</span><span class="value">{[=it.f4]}</span>
</div>
<div>
<span class="label">地址:</span><span class="value">{[=it.f6]}</span>
</div>
<div>
<span class="label">房主:</span><span class="value" >ikxhf</span>
</div>
<div>
<span class="label">房屋估值:</span><span class="value">{[=it.f21]}</span>
</div>
<!---
<div>
<span style="margin:3px;">
<a href="#" onclick="showEstateInfo('{[=it.f1]}')">
<img class="estateview_cmd1" src="/imgs/house.png" width="24px" height="24px" alt="房屋详情" />
</a>
</span><span style="margin:6px;">
<a href="#" onclick="favoriting('{[=it.f1]}')">
<img class="estateview_cmd2" src="/imgs/favorit.png" width="24px" height="24px" alt="收藏"/>
</a>
</span><span style="margin:6px;">
<a href="#" onclick="startTextCall('u0001')">
<img class="estateview_cmd5" src="/imgs/textCall.png" width="24px" height="24px" alt="发起文本通讯" />
</a>
</span><span style="margin:6px;">
<a href="#" onclick="startVoiceCall('u0001')">
<img class="estateview_cmd6" src="/imgs/voicecall.png" width="24px" height="24px" alt="发起语音通讯" />
</a>
</span><span style="margin:6px;">
<a href="#" onclick="startVideoCall('u0001')">
<img class="estateview_cmd7" src="/imgs/videoCall.png" width="24px" height="24px" alt="发起视频通讯" />
</a>
</span>
</div>
-->
</div>
