<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, height=device-height,initial-scale=1.0">
	<title>{{i18n(appname)}}</title>
	<link rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css" />
{% if terminalType.lower() in [ 'iphone','ipad','androidpad' ] %}
	<link rel="stylesheet" type="text/css" href="/jquery/mobile/jquery.mobile-1.4.5.min.css"></script>
	<link rel="stylesheet" type="text/css" href="/easyui/themes/mobile.css" />
{% endif %}

	<link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css" />
	<link rel="stylesheet" type="text/css" href="/kindeditor/themes/default/default.css" />
	<link rel="stylesheet" type="text/css" href="/offlinemap/css/map.css"/>
	<link rel="stylesheet" type="text/css" href="/css/wolon.css" />
	<link rel="stylesheet" type="text/css" href="/css/app.css" />
	
	<script src="/jquery/jquery-3.1.0.min.js"></script>
	<script src="/jquery/jquery.ba-resize.js"></script>
	<script src="/easyui/jquery.easyui.min.js"></script>
{% if terminalType.lower() in [ 'iphone','ipad','androidpad' ] %}
	<script src="/mobile/jquery.mobile-1.4.5.min.js"></script>
	<script src="/easyui/jquery.easyui.mobile.js"></script>
	<script src="/fastclick/fastclick.min.js"></script>
{% endif %}
	
	<script src="/easyui/locale/easyui-lang-zh_CN.js" ></script>
	<script src="/easyUIext/datagrid-dnd/datagrid-dnd.js"></script>
	<script src="/easyUIext/treegrid-dnd/treegrid-dnd.js"></script>
	<script src="/easyUIext/pivotgrid/jquery.pivotgrid.js"></script>
	<script src="/easyUIext/datagrid-view/datagrid-bufferview.js"></script>
	<script src="/easyUIext/datagrid-view/datagrid-scrollview.js"></script>
	<script src="/easyUIext/datagrid-view/datagrid-detailview.js"></script>
	<script src="/easyUIext/datagrid-view/datagrid-groupview.js"></script>
	<script src="/d3/d3.min.js"></script>
	<script src="/d3/venn/venn.min.js"></script>
	<script src="/jsencrypt/jsencrypt.min.js" ></script>
	<script src="/showdown/showdown.min.js" ></script>
<!---
	<script src="/bpmn/js/bpmn.min.js" ></script>
	<script src="/offlinemap/map_load.js" type="text/javascript"></script>
	<script src="/kindeditor/kindeditor-all-min.js" ></script>
	<script charset="utf-8" src="/kindeditor/lang/en.js"></script>
	<script src="/bpmn/bpmn-modeler.development.js" ></script>
	<script src="/forge/forge.all.min.js" ></script>
-->
	<script src="/echarts/echarts.js" ></script>
	<script src="/echarts/extension/bmap.min.js" ></script>
	<script src="/dot/doT.min.js" type="text/javascript"></script>
	<script src="/dot/dot.custom.js" type="text/javascript"></script>

	<script src="/myjs/wolon.min.js" ></script>
	<script>
	　　window.onbeforeunload=function(e){     
		　　var e = window.event||e;  
		　　e.returnValue=("{{i18n('really want to leave?')}}");
		} 
		function getPublicKey(){
			return "-----BEGIN PUBLIC KEY-----\
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwbx6K9iqaTVUCPYbdiJn\
FIJ2ZbJq3GngqNkqmMqOuD7T4oQ77SmLODXTxDy7VQ/sP6p2QDRFPaqZtC2R9Uem\
QlTMwHOhNf2XSZ7WaeWLbFVuq2c4XkVMsG91nBWJUAVZN6R5qGwgo13KiG/ZW6U2\
yCQiIUk902+AUBBvgq0Cpn7yM8oQVRMWJwn5ftVtkq7etkf3MROmQa+c+nsAPzyZ\
Vgz/sCKNHEiLEmM8wnvX6s+R9AxB3+1ebl+Qs9vXP6crZmaPzveNOwg3E21rgXeO\
I9vTvQ5g6bRXqA7xigE03p+cs5IOURZrP/iLAnB4zIvdvbW4c2ApYP5xFTJIBO7e\
QwIDAQAB\
-----END PUBLIC KEY-----";
		}
	</script>

{% if terminalType.lower() in [ 'iphone','ipad' ] %}
	<script src="/touchscreen/fastclick.js"></script>
{% endif %}

</head>
<body>
<script>
{% if terminalType.lower() in [ 'iphone','ipad','androidpad' ] %}
$(function() { 
	FastClick.attach(document.body);  
});
{% endif %}
</script>

