__widget_description__= {
	__ctmpl__:'dataMovingMap',
	data:{
		id:'data_moving',
		title:"十大资金流入地区",
		url:"{{absurl(request,'./dm.dspy')}}",
		colors:['#a6c84c', '#ffa022', '#46bee9']
	}
}
