{
    "__ctmpl__":"tabs",
    "data":{
        "id":"maintabs",
        "items":[
            {
                "title":"\u70b9\u6b4c",
                "remoteWidgets":[
                    "./search.tmpl"
                ],
                "closable":false
            },
            {
                "title":"\u64ad\u653e\u5217\u8868",
				"href":"./playList.tmpl",
                "closable":false
            }
        ]
    },
    "__metadata__":{
        "__jename__":"tabs"
    }
}