<div id="editor_layout" class="easyui-layout" style="width:100%;height:100%;" >
	<div data-options="region:'north',split:true" style="height:50px;">
		<div id="toolbar">
 			<button class="ql-bold">Bold</button>
 			<button class="ql-italic">Italic</button>
		</div>		
	</div>
	<div data-options="region:'center'" >
		<div id="editor"></div>
	</div>
</div>
<script>
$(function(){
 var editor = new Quill('#editor', {
   modules: { toolbar: '#toolbar' },
   theme: 'snow'
 });
 editor.focus();
 $.data($('#editor')[0],'editor',editor);
 /*
 var d = $.data($('#editor')[0],'editor');
 d.setText('lerlergelwkrjgekwrflkerwjflerwlkgjlkewrjjglkerwlkgewrklg\n');
 console.log(d,editor);
 */
});
</script>
