<div id="userRegister" width="400px" height="100%">

</div>
<script>
var d = {
	title:"用户修改密码",
	unitwidth:300,
	labelwidth:100,
	toolbar_position:'south',
	fields:[
		{
			name:"oldpwd",
			iotype:"password",
			label:"用户密码"
		},
		{
			name:"pwd",
			iotype:"password",
			label:"用户密码"
		},
		{
			name:"confirmpwd",
			iotype:"password",
			label:"确认密码"
		}
	],
	toolbar:{
		tools:[
			{
				img_url:"/easyui/themes/icons/filesave.png",
				name:"register",
				label:"保存",
				handler:function(e){
					$.messager.alert('提示','修改成功');
					$('#modalWindow').window('close');
				}
			}
		]
	}
};
$(function(){
	$('#userRegister').datasheet(d);
});

</script>
