<div id="chkpassword" style="width:100%;height:100%">
</div>
<script>
$(function(){
	remoteWidget("{{absurl(request,'./chkpasswd1.tmpl')}}",
		{},
		$('#chkpassword'),
		'replace',
		showError);
});
</script>
