{
    "__ctmpl__":"menu",
    "data":{
        "id":"i9val_menu",
        "submenu":[
            {
                "name":"\u53c2\u6570\u914d\u7f6e",
                "submenu":[
                    {
                        "name":"\u91d1\u989d\u65e5\u5386\u7ef4\u62a4"
                    },
                    {
                        "name":"\u4f30\u503c\u6279\u91cf\u914d\u7f6e"
                    },
                    {
                        "name":"\u4f1a\u8ba1\u5206\u5f55\u914d\u7f6e"
                    },
                    {
                        "name":"\u6570\u636e\u52fe\u7a3d\u914d\u7f6e",
                        "submenu":[
                            {
                                "name":"\u52fe\u7a3d\u89c4\u5219\u914d\u7f6e"
                            },
                            {
                                "name":"\u52fe\u7a3d\u53d8\u91cf\u914d\u7f6e"
                            },
                            {
                                "name":"\u52fe\u7a3d\u6570\u636e\u96c6\u914d\u7f6e"
                            }
                        ]
                    },
                    {
                        "name":"\u4f30\u503c\u914d\u7f6e",
                        "submenu":[
                            {
                                "name":"\u5e02\u573a\u6570\u636e\u914d\u7f6e"
                            },
                            {
                                "name":"\u66f2\u7ebf\u914d\u7f6e"
                            },
                            {
                                "name":"\u4ea7\u54c1\u66f2\u7ebf\u914d\u7f6e"
                            },
                            {
                                "name":"\u4ea7\u54c1\u6a21\u578b\u914d\u914d\u7f6e"
                            },
                            {
                                "name":"\u6a21\u578b\u6570\u636e\u914d\u7f6e"
                            }
                        ]
                    }
                ]
            },
            {
                "name":"\u4f30\u503c\u5c55\u793a",
                "submenu":[
                    {
                        "name":"\u4f30\u503c\u9884\u6d4b",
                        "submenu":[
                            {
                                "name":"\u60c5\u666f\u5206\u6790"
                            },
                            {
                                "name":"\u538b\u529b\u6d4b\u8bd5"
                            }
                        ]
                    },
                    {
                        "name":"\u67e5\u8be2",
                        "submenu":[
                            {
                                "name":"\u914d\u7f6e\u67e5\u8be2"
                            },
                            {
                                "name":"\u4f30\u503c\u7ed3\u679c\u67e5\u8be2"
                            },
                            {
                                "name":"\u4f1a\u8ba1\u5206\u5f55\u67e5\u8be2"
                            },
                            {
                                "name":"\u5dee\u9519\u6570\u636e \u67e5\u8be2"
                            }
                        ]
                    },
                    {
                        "name":"\u5b9a\u5236\u62a5\u8868"
                    }
                ]
            },
            {
                "name":"\u4f30\u503c\u4e1a\u52a1\u64cd\u4f5c",
                "submenu":[
                    {
                        "name":"\u6570\u636e\u9884\u8b66"
                    },
                    {
                        "name":"\u6570\u636e\u8ba2\u6b63"
                    },
                    {
                        "name":"\u6570\u636e\u8865\u5f55"
                    },
                    {
                        "name":"\u4f30\u503c\u7ed3\u679c\u5bfc\u51fa"
                    }
                ]
            }
        ]
    },
    "__metadata__":{
        "__jename__":"menu"
    }
}