{
    "__ctmpl__":"menu",
    "data":{
        "id":"hee",
        "menubar":true,
        "submenu":[
            {
                "name":"metadata",
                "submenu":[
                    {
                        "name":"open"
                    },
                    {
                        "name":"save"
                    }
                ]
            },
            {
                "name":"model",
                "submenu":[
                    {
                        "name":"create model"
                    }
                ]
            },
            {
                "name":"view",
                "submenu":[

                ]
            }
        ]
    },
    "__metadata__":{
        "__jename__":"menu"
    }
}