{
    "__ctmpl__":"menu",
    "data":{
        "id":"startmenu",
		"registerfunction":"openApp",
        "submenu":[
            {
				"url":"https://www.baidu.com",
				"icon":"icon-save",
                "name":"baidu"
            },
            {
 				"url":"https://www.sina.com.cn",
 				"icon":"icon-edit",
				"name":"\u65b0\u6d6a"
            }
        ]
    },
    "__metadata__":{
        "__jename__":"menu"
    }
}