__widget_description__ = {"__ctmpl__":"menu","data":{"id":"k","submenu":[{"name":"file","icon":"icon-file","label":"文件","submenu":[{"name":"new"},{"name":"open"},{"name":"save"},{"name":"exit"}]},{"name":"view","submenu":[{"name":"viewbox"},{"name":"viewtrank"}]}],"menubar":true}}