__widget_description__={
	"__ctmpl__":"accordion",
	"data":{
		"id":"test_accordion",
		width:"300px",
		height:"600px",
		class:'lbox',
		"items":[
			{
				"label":"accordion 1",
				"icon":"icon-save",
				"url":"/test1.dspy"
			},{
				"label":"accordion 2",
				"icon":"icon-save",
				"remoteWidgets":[
					"/test2.dspy"
				]
			},{
				"label":"accordion 3",
				"icon":"icon-save",
				"content":"this is a test"
			}
		]
	}
}