__widget_description__={
	__ctmpl__:'form',
	data:{
		id:'testform2',
		url:'test1',
		dataurl:'tttt',
		ischild:true,
		fields:[
			{
				name:'f1',
				label:'数据1',
				iotype:'text'
			},{
				name:'f2',
				label:'数据2',
				iotype:'text'
			},{
				name:'f3',
				label:'数据3',
				iotype:'text'
			},{
				name:'f4',
				label:'数据4',
				iotype:'text'
			}
		],
	}
}