{% include "header.tmpl" %}
<div id="editor" style="width:800px;height:600px"></div>
<script>
var opts={
	value:"this s a test"
}
$('#editor').scripteditor(opts);
</script>
{% include "footer.tmpl" %}