__widget_description__={
	__ctmpl__:'form',
	data:{
		id:'testform',
		url:'test1',
		dataurl:'tttt',
		fields:[
			{
				name:'f1',
				label:'数据1',
				iotype:'text'
			},{
				name:'f2',
				label:'数据2',
				iotype:'text'
			},{
				name:'f3',
				label:'数据3',
				iotype:'text'
			},{
				name:'f4',
				label:'数据4',
				iotype:'text'
			}
		],
		toolbar:{
			tools:[
				{
					name:'clear',
				},{
					name:'submit'
				}
			]
		},
		subforms:{
			type:'tabs',
			items:[
				{
					title:'label1',
					icon:'icon-save',
					remoteWidgets:[
						'{{absurl(request,"./form11.tmpl")}}'
					]
				},{
					title:'label2',
					icon:'icon-edit',
					remoteWidgets:[
						'{{absurl(request,"./form12.tmpl")}}'
					]
				}
			]
		}
	}
}