__widget_description__={
	"__ctmpl__":"treegrid",
	"data":{
		"id":"tgtesttg",
		"url":"./treegridtest.dspy",
		"idfield":"id",
		"dnd":true,
		"treefield":"name",
		"fields":[
			{"title":"姓名","field":"name"},
			{"title":"性别","field":"gender"},
			{"title":"年龄","field":"age"}
		]
	}
}