__widget_description__ = {
	__ctmpl__:"tabs",
	data:{
		id:"cfae_tabs",
		narrow:true,
		items:[
			{
				title:"投顾",
				icon:"icon-home",
				remoteWidgets:[
					/*
					"{{absurl(request,'./ic/kpi.tmpl')}}",
					"{{absurl(request,'./ic/currbondissue.tmpl')}}",
					"{{absurl(request,'./ic/curroptionsissue.tmpl')}}",
					"{{absurl(request,'./ic/eventinfect.tmpl')}}",
					"{{absurl(request,'./ic/term.tmpl')}}",
					"{{absurl(request,'./ic/rating.tmpl')}}"
					*/
					"{{absurl(request,'./ic/ic.tmpl')}}"
				],
				closable:false
			},{
				title:"融顾",
				icon:"icon-home",
				remoteWidgets:[
					"{{absurl(request,'./rc/rc.tmpl')}}"
				],
				closable:false
			},{
				title:"承顾",
				icon:"icon-home",
				remoteWidgets:[
					/*
					"{{absurl(request,'./cc/kpi.tmpl')}}",
					"{{absurl(request,'./cc/top10.tmpl')}}",
					"{{absurl(request,'./cc/doubleline.tmpl')}}",
					"{{absurl(request,'./cc/today.tmpl')}}"
					*/
					"{{absurl(request,'./cc/cc.tmpl')}}"
				],
				closable:false
			}
		]
	}
}