{
    "__ctmpl__":"tree",
    "data":{
        "idField":"funcid",
        "url":"{{absurl(request,'./functionlists.dspy')}}",
	"options":{
		"onSelect":function(node){
			menuCall(node.funcid,node.text);
		}
	}
    },
    "__metadata__":{
        "__jename__":"tree"
    }
}
