__widget_description__ = {
    "__ctmpl__":"layout",
    "data":{
        "regions":{
            "north":{
                "height":"50"
            },
            "center":{

            },
            "south":{
                "height":"40"
            }
        }
    },
    "__metadata__":{
        "__ctmpl__":"jsoneditor",
        "data":{
            "width":"100%",
            "height":"100%",
            "roottype":"widgetdesc",
            "rootname":"__widget_description__",
            "registerTypes":[
                {
                    "datatype":"widgetdesc",
                    "basetype":"OBJECT",
                    "allowNewAttributes":false,
                    "fields":[
                        {
                            "name":"__ctmpl__",
                            "datatype":"str",
                            "required":true,
                            "defaultvalue":"layout",
                            "readonly":true
                        },
                        {
                            "name":"data",
                            "datatype":"layoutdata",
                            "required":true,
                            "registed":true
                        }
                    ]
                },
                {
                    "datatype":"layoutdata",
                    "basetype":"OBJECT",
                    "allowNewAttributes":false,
                    "fields":[
                        {
                            "name":"id",
                            "datatype":"str"
                        },
                        {
                            "name":"width",
                            "datatype":"str"
                        },
                        {
                            "name":"height",
                            "datatype":"str"
                        },
                        {
                            "name":"regions",
                            "datatype":"regions",
                            "registed":true,
                            "required":true
                        }
                    ]
                },
                {
                    "datatype":"regions",
                    "basetype":"OBJECT",
                    "allowNewAttributes":false,
                    "fields":[
                        {
                            "name":"north",
                            "datatype":"hregion",
                            "registed":true
                        },
                        {
                            "name":"center",
                            "datatype":"region",
                            "registed":true
                        },
                        {
                            "name":"south",
                            "datatype":"hregion",
                            "registed":true
                        },
                        {
                            "name":"west",
                            "datatype":"vregion",
                            "registed":true
                        },
                        {
                            "name":"east",
                            "datatype":"vregion",
                            "registed":true
                        }
                    ]
                },
                {
                    "datatype":"region",
                    "basetype":"OBJECT",
                    "allowNewAttributes":false,
                    "fields":[
                        {
                            "name":"title",
                            "datatype":"str"
                        },
                        {
                            "name":"iconCls",
                            "datatype":"str"
                        },
                        {
                            "name":"border",
                            "datatype":"bool",
                            "defaultvalue":true
                        },
                        {
                            "name":"remoteWidgets",
                            "datatype":"remoteWidgets",
                            "registed":true
                        }
                    ]
                },
                {
                    "datatype":"hregion",
                    "basetype":"OBJECT",
                    "allowNewAttributes":false,
                    "fields":[
                        {
                            "name":"height",
                            "datatype":"str",
                            "required":true
                        },
                        {
                            "name":"title",
                            "datatype":"str"
                        },
                        {
                            "name":"iconCls",
                            "datatype":"str"
                        },
                        {
                            "name":"border",
                            "datatype":"bool",
                            "defaultvalue":true
                        },
                        {
                            "name":"remoteWidgets",
                            "datatype":"remoteWidgets",
                            "registed":true
                        }
                    ]
                },
                {
                    "datatype":"vregion",
                    "basetype":"OBJECT",
                    "allowNewAttributes":false,
                    "fields":[
                        {
                            "name":"width",
                            "datatype":"str",
                            "required":true
                        },
                        {
                            "name":"title",
                            "datatype":"str"
                        },
                        {
                            "name":"iconCls",
                            "datatype":"str"
                        },
                        {
                            "name":"border",
                            "datatype":"bool",
                            "defaultvalue":true
                        },
                        {
                            "name":"remoteWidgets",
                            "datatype":"remoteWidgets",
                            "registed":true
                        }
                    ]
                },
                {
                    "datatype":"remoteWidgets",
                    "basetype":"ARRAY",
                    "allowedTypes":[
                        "str"
                    ]
                }
            ],
            "id":"jsoneditor_0",
            "menuc_id":"3ab1ca7c3c91f39f81a2a148c3200cd",
            "atomtypes":[
                "str",
                "text",
                "number",
                "url",
                "date",
                "bool",
                "code",
                "urlcode"
            ],
            "data":{

            },
            "url":"\/vc\/test\/tt\/ly.tmpl"
        }
    }
}