__widget_description__ = {
    "__ctmpl__":"menu",
    "data":{
        "id":"fe ",
        "submenu":[

        ]
    },
    "__metadata__":{
        "__ctmpl__":"jsoneditor",
        "data":{
            "width":"100%",
            "height":"100%",
            "roottype":"widgetdesc",
            "rootname":"__widget_description__",
            "registerTypes":[
                {
                    "datatype":"widgetdesc",
                    "basetype":"OBJECT",
                    "allowNewAttributes":false,
                    "fields":[
                        {
                            "name":"__ctmpl__",
                            "datatype":"str",
                            "required":true,
                            "defaultvalue":"menu",
                            "readonly":true
                        },
                        {
                            "name":"data",
                            "datatype":"menudata",
                            "required":true,
                            "registed":true
                        }
                    ]
                },
                {
                    "datatype":"menudata",
                    "allowNewAttributes":false,
                    "basetype":"OBJECT",
                    "fields":[
                        {
                            "name":"id",
                            "datatype":"str",
                            "title":"编号",
                            "required":true
                        },
                        {
                            "name":"menubar",
                            "datatype":"bool",
                            "title":"是否要menubar",
                            "required":false
                        },
                        {
                            "name":"registerfunction",
                            "datatype":"str",
                            "required":false
                        },
                        {
                            "name":"submenu",
                            "required":true,
                            "registed":true,
                            "datatype":"submenus"
                        }
                    ]
                },
                {
                    "datatype":"submenus",
                    "basetype":"ARRAY",
                    "allowedTypes":[
                        "submenu"
                    ]
                },
                {
                    "datatype":"submenu",
                    "allowNewAttributes":true,
                    "basetype":"OBJECT",
                    "fields":[
                        {
                            "name":"name",
                            "required":true,
                            "datatype":"str"
                        },
                        {
                            "name":"icon",
                            "datatype":"str"
                        },
                        {
                            "name":"submenu",
                            "datatype":"submenus",
                            "registed":true,
                            "required":false
                        },
                        {
                            "name":"registerfunction",
                            "datatype":"str",
                            "required":false
                        }
                    ]
                }
            ],
            "id":"jsoneditor_0",
            "menuc_id":"89a2e1bfb834ba45c36b059d9b60fc8",
            "atomtypes":[
                "str",
                "text",
                "number",
                "url",
                "date",
                "bool",
                "code",
                "urlcode"
            ],
            "data":{

            }
        }
    }
}