__widget_description__ = {
    "__ctmpl__":"tabs",
    "data":{
        "id":"tab1",
        "items":[
            {
                "title":"home",
                "remoteWidgets":[

                ],
                "closable":true
            }
        ]
    },
    "__metadata__":{
        "__ctmpl__":"jsoneditor",
        "data":{
            "width":"100%",
            "height":"100%",
            "roottype":"widgetdesc",
            "rootname":"__widget_description__",
            "registerTypes":[
                {
                    "datatype":"widgetdesc",
                    "basetype":"OBJECT",
                    "allowNewAttributes":false,
                    "fields":[
                        {
                            "name":"__ctmpl__",
                            "datatype":"str",
                            "required":true,
                            "defaultvalue":"tabs",
                            "readonly":true
                        },
                        {
                            "name":"data",
                            "datatype":"tabsdata",
                            "required":true,
                            "registed":true
                        }
                    ]
                },
                {
                    "datatype":"tabsdata",
                    "basetype":"OBJECT",
                    "allowNewAttributes":false,
                    "fields":[
                        {
                            "name":"id",
                            "datatype":"str",
                            "required":true
                        },
                        {
                            "name":"items",
                            "required":true,
                            "datatype":"tabs",
                            "registed":true
                        }
                    ]
                },
                {
                    "datatype":"tabs",
                    "basetype":"ARRAY",
                    "allowedTypes":[
                        "tab"
                    ]
                },
                {
                    "datatype":"tab",
                    "basetype":"OBJECT",
                    "allowNewAttributes":false,
                    "fields":[
                        {
                            "name":"title",
                            "datatype":"str",
                            "required":true
                        },
                        {
                            "name":"remoteWidgets",
                            "required":true,
                            "datatype":"urls",
                            "registed":true
                        },
                        {
                            "name":"closable",
                            "required":true,
                            "datatype":"bool",
                            "defaultvalue":true
                        }
                    ]
                },
                {
                    "datatype":"urls",
                    "basetype":"ARRAY",
                    "allowedTypes":[
                        "str"
                    ]
                }
            ],
            "id":"jsoneditor_0",
            "menuc_id":"3b38d3c27a2837a88c4352e3b51f73a",
            "atomtypes":[
                "str",
                "text",
                "number",
                "date",
                "bool",
                "code",
                "urlcode"
            ],
            "data":{

            }
        }
    }
}