{
    "__ctmpl__":"layout",
    "data":{
        "regions":{
            "north":{
                "height":"50"
            },
            "center":{

            }
        }
    },
    "__metadata__":{
        "__jename__":"layout"
    }
}