{
    "__ctmpl__":"jsoneditor",
    "data":{
        "roottype":"fee",
        "rootname":"ereg",
        "_jename__":"egre",
        "includemeta":true,
        "registerTypes":[

        ]
    },
    "__metadata__":{
        "__jename__":"jsoneditor"
    }
}