{
    "__ctmpl__":"pie",
    "data":{
        "widgettype":"echarts",
        "url":"\/vc\/test\/songs.sqlds",
        "dimension":"song2",
        "indicator":"cnt",
        "seriename":"gegrege"
    },
    "__metadata__":{
        "__jename__":"pie"
    }
}