__widget_description__ = {
    "__ctmpl__":"jsoneditor",
    "data":{
        "roottype":"test",
        "rootname":"test",
        "registerTypes":[
            {
                "datatype":"test",
                "basetype":"OBJECT",
                "fields":[
                    {
                        "name":"add",
                        "datatype":"url",
                        "required":true
                    },
                    {
                        "datatype":"fields",
                        "basetype":"ARRAY"
                    }
                ]
            }
        ]
    },
    "__metadata__":{
        "__ctmpl__":"jsoneditor",
        "data":{
            "width":"100%",
            "height":"100%",
            "roottype":"jeroot",
            "rootname":"__widget_description__",
            "registerTypes":[
                {
                    "datatype":"jeroot",
                    "basetype":"OBJECT",
                    "allowNewAttributes":false,
                    "fields":[
                        {
                            "name":"__ctmpl__",
                            "datatype":"str",
                            "defaultvalue":"jsoneditor",
                            "readonly":true,
                            "required":true
                        },
                        {
                            "name":"data",
                            "registed":true,
                            "datatype":"widgetdesc",
                            "required":true
                        }
                    ]
                },
                {
                    "datatype":"widgetdesc",
                    "basetype":"OBJECT",
                    "allowNewAttributes":false,
                    "fields":[
                        {
                            "name":"roottype",
                            "datatype":"str",
                            "required":true
                        },
                        {
                            "name":"rootname",
                            "datatype":"str",
                            "required":true
                        },
                        {
                            "name":"registerTypes",
                            "datatype":"registerTypes",
                            "registed":true,
                            "required":true
                        }
                    ]
                },
                {
                    "datatype":"registerTypes",
                    "basetype":"ARRAY",
                    "allowedTypes":[
                        "ARRAYExt",
                        "OBJECTExt"
                    ]
                },
                {
                    "datatype":"ARRAYExt",
                    "basetype":"OBJECT",
                    "allowNewAttributes":false,
                    "fields":[
                        {
                            "name":"datatype",
                            "datatype":"str",
                            "required":true
                        },
                        {
                            "name":"basetype",
                            "datatype":"str",
                            "required":true,
                            "readonly":true,
                            "defaultvalue":"ARRAY"
                        },
                        {
                            "name":"allowedTypes",
                            "datatype":"allowedTypes",
                            "registed":true,
                            "required":true
                        }
                    ]
                },
                {
                    "datatype":"allowedTypes",
                    "basetype":"ARRAY",
                    "allowedTypes":[
                        "str"
                    ]
                },
                {
                    "datatype":"OBJECTExt",
                    "basetype":"OBJECT",
                    "allowNewAttributes":false,
                    "fields":[
                        {
                            "name":"datatype",
                            "datatype":"str",
                            "required":true
                        },
                        {
                            "name":"basetype",
                            "datatype":"str",
                            "required":true,
                            "defaultvalue":"OBJECT"
                        },
                        {
                            "name":"allowNewAttributes",
                            "datatype":"bool",
                            "defaultvalue":false
                        },
                        {
                            "name":"fields",
                            "datatype":"fieldstype",
                            "registed":true,
                            "required":true
                        }
                    ]
                },
                {
                    "datatype":"strtype",
                    "basetype":"OBJECT",
                    "fields":[
                        {
                            "name":"name",
                            "datatype":"str",
                            "required":true
                        },
                        {
                            "name":"datatype",
                            "datatype":"str",
                            "defaultvalue":"str",
                            "required":true
                        },
                        {
                            "name":"required",
                            "datatype":"bool",
                            "required":false
                        }
                    ]
                },
                {
                    "datatype":"numbertype",
                    "basetype":"OBJECT",
                    "fields":[
                        {
                            "name":"name",
                            "datatype":"str",
                            "required":true
                        },
                        {
                            "name":"datatype",
                            "datatype":"str",
                            "defaultvalue":"number",
                            "required":true
                        },
                        {
                            "name":"required",
                            "datatype":"bool",
                            "required":false
                        }
                    ]
                },
                {
                    "datatype":"booltype",
                    "basetype":"OBJECT",
                    "fields":[
                        {
                            "name":"name",
                            "datatype":"str",
                            "required":true
                        },
                        {
                            "name":"datatype",
                            "datatype":"str",
                            "defaultvalue":"bool",
                            "required":true
                        },
                        {
                            "name":"required",
                            "datatype":"bool",
                            "required":false
                        }
                    ]
                },
                {
                    "datatype":"urltype",
                    "basetype":"OBJECT",
                    "fields":[
                        {
                            "name":"name",
                            "datatype":"str",
                            "required":true
                        },
                        {
                            "name":"datatype",
                            "datatype":"str",
                            "defaultvalue":"url",
                            "required":true
                        },
                        {
                            "name":"required",
                            "datatype":"bool",
                            "required":false
                        }
                    ]
                },
                {
                    "datatype":"texttype",
                    "basetype":"OBJECT",
                    "fields":[
                        {
                            "name":"name",
                            "datatype":"str",
                            "required":true
                        },
                        {
                            "name":"datatype",
                            "datatype":"str",
                            "defaultvalue":"text",
                            "required":true
                        },
                        {
                            "name":"required",
                            "datatype":"bool",
                            "required":false
                        }
                    ]
                },
                {
                    "datatype":"datetype",
                    "basetype":"OBJECT",
                    "fields":[
                        {
                            "name":"name",
                            "datatype":"str",
                            "required":true
                        },
                        {
                            "name":"datatype",
                            "datatype":"str",
                            "defaultvalue":"date",
                            "required":true
                        },
                        {
                            "name":"required",
                            "datatype":"bool",
                            "required":false
                        }
                    ]
                },
                {
                    "datatype":"fieldstype",
                    "basetype":"ARRAY",
                    "allowedTypes":[
                        "strtype",
                        "urltype",
                        "numbertype",
                        "booltype",
                        "texttype",
                        "datetype",
                        "ARRAY",
                        "OBJECT",
                        "ARRAYExt",
                        "OBJECTExt"
                    ]
                }
            ],
            "id":"jsoneditor_2",
            "menuc_id":"de3ee6a7d320509741511f3b7247d6f",
            "atomtypes":[
                "str",
                "text",
                "number",
                "url",
                "date",
                "bool",
                "code",
                "urlcode"
            ],
            "data":{

            }
        }
    }
}