__widget_description__={
	__ctmpl__:'layout',
	data:{
		border:true,
		regions:{
			west:{
				width:"400px",
				remoteWidgets:[
					"{{absurl(request,'./nabroker.tmpl')}}"
				]
			},
			center:{
			
			},
			east:{
				width:"200px",

				remoteWidgets:[
					"{{absurl(request,'./test2.tmpl')}}"
				]
			}
			
		}
	}
}