__widget_description__ = {
	__ctmpl__:'datagrid',
	data:{
		id:"dcm_profile",
		widgettype:"datagrid",
		title:"DCM债券业务概览",
		width:"500px",
		height:"300px",
		idField:"participalid",
		view:"scrollview",
		url:"{{absurl(request,'./dcm_profile.dspy')}}",
		fields:[
			{
				name:"y_dim",
				label:"年指标",
				iotype:"text"
			},{
				name:"y_finish_pz",
				label:"年度完成率",
				iotype:"number"
			},{
				name:"y_indictor",
				label:"年度指标值",
				iotype:"date"
			},{
				name:"m_dim",
				label:"月指标",
				iotype:"text"
			},{
				name:"m_finish_pz",
				label:"月完成率",
				iotype:"text"
			},{
				name:"m_indicator",
				label:"月指标值",
				iotype:"text"
			}
		],
		options:{
			pageSize:60,
			dnd:false
		}
	}
}