/*
json数据编辑器options数据格式
{
	id:"ererg",	
	width:"100%",
	height:"100%",
	keywidth:"",
	valewidht:"",
	getDataURL:"kerkferg",
	setDataURL:"ererg",
	fields:[
		{
			name:'abc',
			title:'abc',
			required:true,
			iotype:'fkkkk',
			datatype:'str', 
			/* 'text','array','object','str',
				'float','int','function','text','bool'
				'date','time','datetime'
				'code',
				'urlcode'
			*/
			defaultv:'ffgg',
			arrayOptions:{
				"obj1":{...},
				"obj2":{...}
			},
			objectPatten:{...}
		},{
			
		}
	],
}
*/

