{
	__widget__:"edatagrid",
	data:{
		columns:[[
			{
				field:'f_name',
				title:'{{i18n("field name")}}',
				width:100,
				editor:"textbox"
			},{
				field:'f_title',
				title:'{{i18n("field title")}}',
				width:100,
				editor:"textbox"
			},{
				field:'f_type',
				title:'{{i18n("field type")}}',
				width:100,
				editor:"textbox"
			},{
				field:'f_length',
				title:'{{i18n("field length")}}',
				width:100,
				editor:"textbox"
			},{
				field:'f_dec',
				title:'{{i18n("field dec")}}',
				width:100,
				editor:"textbox"
			},{
				field:'f_comments',
				title:'{{i18n("field comments")}}',
				width:100,
				editor:"textbox"
			}
		]]
	}
}