<div id="dv_main" style="width:100%;height:100%"></div>
<script>
var d={
	"id":"connectLayout",
	"fit":true,
	"regions":{
		"west":{
			"width":"300px",
			"collapsible":true,
			"border":true,
			"remoteWidgets":[
				"{{absurl(request,'./dbtree.tmpl')}}"
			]
		},
		"center":{
			"id":"mainarea",
			"border":false,
			"remoteWidgets":[
				"{{absurl(request,'./dbc_workarea.html')}}"
			]
		}
	}
}
$(tmplRender('layout',d)).appendTo($('#dv_main'));
$.parser.parse('#dv_main');
</script>