{
    "__ctmpl__":"jsoneditor",
    "data":{
        "roottype":"DATAGRID",
        "rootname":"datagrid",
        "_jename__":"datagrid",
        "includemeta":true,
        "registerTypes":[
            {
                "datatype":"DATAGRID",
                "basetype":"OBJECT",
                "fields":[
                    {
                        "name":"__ctmpl__",
                        "datatype":"str",
                        "defaultvalue":"datagrid",
                        "readonly":true
                    },
                    {
                        "name":"data",
                        "datatype":"DATA",
                        "registed":true
                    }
                ]
            },
            {
                "datatype":"DATA",
                "basetype":"OBJECT",
                "fields":[

                ]
            }
        ]
    },
    "__metadata__":{
        "__jename__":"jsoneditor"
    }
}