{
    "__ctmpl__":"layout",
    "data":{
        "regions":{
            "south":{
                "height":"40px",
                "remoteWidgets":[
                    "{{absurl(request,'./searchname.tmpl')}}"
                ]
				
            },
            "center":{
                "remoteWidgets":[
                    "{{absurl(request,'./leftabls.tmpl')}}"
                ]
            }
        }
    },
    "__metadata__":{
        "__jename__":"layout"
    }
}