{
    "__ctmpl__":"tabs",
    "data":{
        "id":"edm_lefttabs",
        "items":[
            {
                "title":"库表",
				"remoteWidgets":[
					"{{absurl(request,'./dv/dbtree.tmpl')}}"
				],
                "closable":false
            },
            {
                "title":"\u5143\u6570\u636e",
				"remoteWidgets":[
					"{{absurl(request,'./meta/showMetaTree.tmpl')}}"
				],
                "closable":false
            },
            {
                "title":"\u67e5\u627e",
                "closable":false
            }
        ]
    },
    "__metadata__":{
        "__jename__":"tabs"
    }
}