{
    "__ctmpl__":"tabs",
    "data":{
        "id":"edm_maintabs",
        "items":[
            {
                "title":"\u4e3b\u9875",
                "remoteWidgets":[
                    "{{absurl(request,'./mainpage.tmpl')}}"
                ],
                "closable":false
            }
        ]
    },
    "__metadata__":{
        "__jename__":"tabs"
    }
}