{
    "__ctmpl__":"layout",
    "data":{
        "regions":{
            "north":{
                "height":"40px",
                "remoteWidgets":[
                ]
            },
            "center":{
                "remoteWidgets":[
                    "{{absurl(request,'./maintabs.tmpl')}}"
                ]
            },
            "south":{
                "height":"40"
            },
            "west":{
                "width":"250px",
                "remoteWidgets":[
                    "{{absurl(request,'./leftpanel.tmpl')}}"
                ]
            }
        }
    },
    "__metadata__":{
        "__jename__":"layout"
    }
}