{
    "__ctmpl__":"layout",
    "data":{
        "regions":{
            "center":{
                "remoteWidgets":[
                    "{{absurl(request,'./sublayout.tmpl')}}"
                ]

            },
            "west":{
                "width":"150px",
                "remoteWidgets":[
                    "{{absurl(request,'./friends.tmpl')}}"
                ]
            }
        }
    },
    "__metadata__":{
        "__jename__":"layout"
    }
}
