<div id="msgZone">
	<div class="peermsg">this is a test</div>
	<div class="mymsg">this is a test</div>
	<div class="peermsg">this is a test</div>
	<div class="peermsg">this is a test</div>
	<div class="mymsg">this is a test</div>
	<div class="peermsg">this is a test</div>
	<div class="peermsg">this is a test</div>
	<div class="mymsg">this is a test</div>
	<div class="mymsg">this is a test</div>
	<div class="peermsg">this is a test</div>
	<div class="mymsg">this is a test</div>
</div>
