<div id="baidumap"></div>
<script>
	var map = new BMap.Map("baidumap"); // 创建Map实例
	map.centerAndZoom(new BMap.Point(lng,lat ), 17); // 初始化地图,设置中心点坐标和地图级别,****代表经纬度，可以通过http://api.map.baidu.com/lbsapi/creatmap/ 来查看你需要的城市的经纬度

	//添加地图类型控件
	map.addControl(new BMap.MapTypeControl({
	mapTypes : [ BMAP_NORMAL_MAP, BMAP_HYBRID_MAP ]
	}));
	map.setCurrentCity(city); // 设置地图显示的城市 此项是必须设置的
	map.enableScrollWheelZoom(true); //开启鼠标滚轮缩放 
	//点击地图并在此添加标记
	/*
	map.addEventListener("click", function(e) {//鼠标单击地图触发
	if (time >= 1) {
	    return;
	} else {
	    popLayer(e);
	}

	});12
	*/
</script>
