{
    "__ctmpl__":"layout",
    "data":{
        "regions":{
	    "north":{
		"height":"90%",
                "remoteWidgets":[
                    "{{absurl(request,'./message.tmpl')}}"
                ]
	    },
            "center":{
                "remoteWidgets":[
                    "{{absurl(request,'./inputarea.tmpl')}}"
                ]

            }
        }
    },
    "__metadata__":{
        "__jename__":"layout"
    }
}
