{
    "__ctmpl__":"accordion",
    "data":{
        "id":"funccatelog",
        "items":[
            {
                "title":"自我服务",
		"remoteWidgets":[
			"{{absurl(request,'./selfserv/functionlists.tmpl')}}"
		]
            },
            {
                "title":"\u5b58\u623f\u670d\u52a1",
		"remoteWidgets":[
			"{{absurl(request,'./saving/functionlists.tmpl')}}"
		]
            },
            {
                "title":"\u4f18\u623f\u670d\u52a1",
		"remoteWidgets":[
			"{{absurl(request,'./addon/functionlists.tmpl')}}"
		]
            },
            {
                "title":"\u878d\u623f\u670d\u52a1",
		"remoteWidgets":[
			"{{absurl(request,'./rentfin/functionlists.tmpl')}}"
		]
            },
            {
                "title":"\u83b7\u623f\u670d\u52a1",
		"remoteWidgets":[
			"{{absurl(request,'./rent/functionlists.tmpl')}}"
		]
            },
            {
                "title":"\u8fd0\u623f\u670d\u52a1",
		"remoteWidgets":[
			"{{absurl(request,'./maintain/functionlists.tmpl')}}"
		]
            },
            {
                "title":"\u51fa\u623f\u670d\u52a1",
		"remoteWidgets":[
			"{{absurl(request,'./sellfin/functionlists.tmpl')}}"
		]
            }
        ],
	options:{
		onSelect:function(title,index){
			menuCall(index.toString(),title);
		}
	}
    },
    "__metadata__":{
        "__jename__":"accordion"
    }
}
