<div class="topzone" style="width:100%;height:100%;background-color:#0a1929;color:white">
<div class="lbox apptitle" style="width:70%;text-align:left;font-size:32px" >
<span style="text-align:left;font-size:32px">不动产管理系统</span>
</div>
<div class="rbox" style="width:150px;text-align:center;">
	<img id="userimg" src="/estate/imgs/lzz.jpg" width="32px" height="32px" />
	<span id="username">王明</span>
</div>
<div class="rbox" id="unreadmsg" style="width:150px;text-align:center;">
<div>&nbsp
</div>
<div>
您有0条未读消息
</div>
</div>
</div>
