{
    "__ctmpl__":"layout",
    "data":{
        "regions":{
            "north":{
                "height":"40"
            },
            "center":{
                "remoteWidgets":[
                    "\/vc\/test\/ktv\/maintabs.tmpl"
                ]
            }
        }
    },
    "__metadata__":{
        "__jename__":"layout"
    }
}