__widget_description__ = {
	__ctmpl__:'datagrid',
	data:{
		id:"issuerlist",
		widgettype:"datagrid",
		title:"参与人清单",
		width:"500px",
		height:"300px",
		idField:"participalid",
		view:"scrollview",
		url:"{{absurl(request,'./issuerlist.dspy')}}",
		fields:[
			{
				name:"participalid",
				label:"融资人编码",
				iotype:"text"
			},{
				name:"participalname",
				label:"融资人名称",
				iotype:"text"
			},{
				name:"start_date",
				label:"注册日期",
				iotype:"date"
			},{
				name:"rating",
				label:"融资人评级",
				iotype:"text"
			},{
				name:"natures",
				label:"企业特性",
				iotype:"text"
			},{
				name:"section",
				label:"融资人行业",
				iotype:"text"
			},{
				name:"area",
				label:"融资人地区",
				iotype:"text"
			}
		],
		options:{
			pageSize:60,
			dnd:false,
			headerContextMenuOptions:{
				id:'tgtesttg_headermb',
				registerfunction:"mainfunc",
				submenu:[
					{
						name:"profile",
						label:"业务概览",
						icon:"icon-person",
						submenu:[
							{
								name:"业务概览",
								registerfunction:"profileAnalysis",
								submenu:[
									{
										name:"启动自动数据更新",
										registerfunction:"startAutoChangePlot"
									},{
										name:"停止自动数据更新",
										registerfunction:"stopAutoChangePlot"
									}
								]
							}
						]
					}
				]
			}
		},
		contextmenu:[
			{
				type:"amplitude",
				identifier:"function(data){return true;}",
				submenu:
				[
					{
						label:"融资人周融资分析",
						name:"weekday"
					},{
						label:"每日融资分析",
						name:"sdaily"
					}
				]
			}
		]
	}
}