__widget_description__ = {
	__ctmpl__:'venn_d3',
	data:{
		id:"productcross",
		width:400,
		/*colors:partedColor('#FF0000','#F0F0F0',10),*/
		height:300,
		url:"{{absurl(request,'./productcross.dspy')}}",
		dimension:"party",
		indicator:"cnt"
	}
};
