__widget_description__={
	__ctmpl__:'datagrid',
	data:{
		id:"cctoday",
		title:"今日指标",
		width:'100%',
		height:'25%',
		idField:'id',
		url:"{{absurl(request,'./today.dspy')}}",
		fields:[
			{
				name:"id",
				label:"id",
				hidden:true,
				iotype:"text"
			},{
				name:"kpiname",
				label:"id",
				iotype:"text"
			},{
				name:"kpivalue",
				label:"id",
				iotype:"text"
			},{
				name:"flag",
				label:"id",
				hidden:true,
				iotype:"text"
			}
		],
		options:{
			class:'lbox',
			rowStyler1:'lbox',
			rownumbers:false,
			showHeader:false,
			columns:[[
				{

				},
				{
					width:'70%'
				},{
					width:'30%',
					align:'right',
					formatter:function(value,row,index){
						if (row.flag != 0){
							var img="greenup.png";
							if (row.flag<0){
								img = "reddown.png";
							} else if (row.flag > 0){
								img = "greenup.png";
							}
							return '<span>' + value + '<img src="/imgs/' + img + '" /></span>';
						}
						return value;
					}
				},
				{
				}
			]]
		}
	}
}