d={
	"__ctmpl__":"bar",
	"data":{
		"title":"收入现金流",
		"widgettype":"echarts",
		"url":"./rf_income_cashflow.dspy",
		"dimention":"timeunit",
		"series":[
			{
				"name":"租金",
				"indicator":"amount"
			}
		]
	}
}
