{
    "__ctmpl__":"layout",
    "data":{
        "regions":{
            "north":{
                "height":"50px",
                "remoteWidgets":[
                    "{{absurl(request,'./searchform.tmpl')}}"
                ]
            },
            "center":{
                "remoteWidgets":[
                    "{{absurl(request,'./rentfinView.tmpl')}}"
                ]

            }
        }
    },
    "__metadata__":{
        "__jename__":"layout"
    }
}
