<div id="new_rf"></div>
<script>
$(function(){
	var d = {
		__widget__:"datasheet",
		data:{
			unitwidth:290,
			labelwidth:100,
			//fielddesc_url:"{{absurl(request,'./rf_input_fields.dspy')}}",
			toolbar_position:"north",
			fields:[
			{"name":"f2","label":"\u878d\u8d44\u89c4\u6a21","type":"str","listhide":false,"inputhide":false,"frozen":false,"iotype":"str"},
			{"name":"f3","label":"\u4ed8\u6b3e\u6a21\u5f0f","type":"str","listhide":false,"inputhide":false,"frozen":false,"iotype":"code","url":"\/estate\/code\/paymode_code.dspy","valueField":"f1","textField":"f2"},
			{"name":"f4","label":"\u671f\u9650","type":"str","listhide":false,"inputhide":false,"frozen":false,"iotype":"str"},
			{"name":"f6","label":"\u878d\u623f\u4ebaid","type":"str","listhide":false,"inputhide":false,"frozen":false,"iotype":"str"},
			{"name":"f7","label":"\u622a\u81f3\u65e5\u671f","type":"str","listhide":false,"inputhide":false,"frozen":false,"iotype":"date"},
			{"name":"f5","label":"\u878d\u623f\u63cf\u8ff0","type":"str","listhide":false,"inputhide":false,"frozen":false,"iotype":"text","height":"120px","unitcnt":2}
			],
			toolbar:{
				position:"north",
				tools:[
					{
						img_url:"/easyui/themes/icons/filesave.png",
						name:"save",
						label:"保存融房",
						handler:function(){
							$.messager.alert('提示','保存成功');
							$('#modalWindow').window('close');
						}
					}
				]
			}
		}
	};
	$('#new_rf').datasheet(d.data);
});
</script>
