d = {
	__widget__:"datasheet",
	data:{
		title:"资产打包",
		description:"从融房和出房的资产中，选择需要打包的资产，并根据打包资产明细的估值计算出整体资产的估值",
		width:"800px",
		unitwidth:250,
		labelwidth:90,
		fields:[
			{"name":"f1","label":"\u878d\u623f\u6570\u91cf","type":"str","listhide":false,"inputhide":false,"frozen":false,"iotype":"number"},
			{"name":"f3","label":"\u51fa\u623f\u6570\u91cf","type":"str","listhide":false,"inputhide":false,"frozen":false,"iotype":"number"},
			{"name":"f5","label":"\u603b\u8d44\u4ea7\u6570","type":"str","listhide":false,"inputhide":false,"frozen":false,"iotype":"number"},
			{"name":"f2","label":"\u878d\u623f\u4f30\u503c","type":"str","listhide":false,"inputhide":false,"frozen":false,"iotype":"number"},
			{"name":"f4","label":"\u51fa\u623f\u4f30\u503c","type":"str","listhide":false,"inputhide":false,"frozen":false,"iotype":"number"},
			{"name":"f6","label":"\u603b\u4f30\u503c","type":"str","listhide":false,"inputhide":false,"frozen":false,"iotype":"number"}
		]
	}
}
