{
    "__ctmpl__":"layout",
    "data":{
        "regions":{
            "north":{
                "height":"130px",
                "remoteWidgets":[
                    "{{absurl(request,'./painfo_container.tmpl')}}"
                ]
            },
            "south":{
                "height":"40px",
                "remoteWidgets":[
                    "{{absurl(request,'./packingasset_tool.tmpl')}}"
                ]
            },
            "center":{
                "remoteWidgets":[
                    "{{absurl(request,'./packingTabs.tmpl')}}"
                ]

            }
        }
    },
    "__metadata__":{
        "__jename__":"layout"
    }
}
