__widget_description__ = {
	__ctmpl__:"tabs",
	data:{
		id:"main_tabs",
		narrow:true,
		items:[
			{
				title:"融房",
				icon:"icon-home",
				remoteWidgets:[
					"{{absurl(request,'./rentfin_grid.tmpl')}}"
				],
				closable:false
			},
			{
				title:"出房",
				icon:"icon-home",
				remoteWidgets:[
					"{{absurl(request,'../sellfin/sellfin_grid.tmpl')}}"
				],
				closable:false
			}
		]
	}
}
