d = {
	__widget__:"bufferedpanel",
	data:{
		pattern_url:"{{absurl(request,'./rentfinInfo.tmpl')}}",
		url:"{{absurl(request,'./rentfinInfo.xlsxds?action=pagingdata')}}",
		pageSize:80,
		page:1
	}
}

